body {
	background-color: #f3e8d8;
}

.spacer {
	height: 50px;
}

.navigation {
	background-color: lightyellow;
}

.navBtn {
	border: 1px solid black;
	border-radius: 0;
	padding: 5px 40px;
	color: black;
	font-size: 16px;
	width: 10rem;
	height: 2.5rem;
	vertical-align: middle;
}

.intro {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.introTitle {
	font-family: Arial, Helvetica, sans-serif;
}

.introP {
	width: 90%;
	text-align: center;
}

.explore-btn {
	margin: 3rem 0;
	border-radius: 0;
	color: #f3e8d8;
	font-size: 16px;
	width: 10rem;
	height: 2.5rem;
}

.bannerTruck {
	display: flex;
	justify-self: center;
	width: 90%;
}

.bannerWhip {
	display: flex;
	justify-self: center;
	justify-content: center;
	width: 100%;
}

.whipImg {
	position: relative;
	width: 100%;
	height: auto;
}

/*.whipText {
	position: absolute;
	text-align: center;
	width: 80%;
	border: #db9421 5px solid;
	margin: 1rem;
}*/

.whipText {
	position: absolute;
	text-align: center;
	width: 90%; /* Take full width on small screens */
	border: #db9421 5px solid;
	margin: 1rem;
	font-size: 1.8rem; /* Scale down the font size for mobile */
	padding: 10px;
	text-shadow: 2px 2px 4px rgba(244, 242, 242, 0.5); /* Add a subtle shadow for better readability */
}

.contactTitle {
	display: flex;
	justify-content: center;
}

.contactInfo {
	font-size: small;
}

.social {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 15px;
}

.socialIcons {
	display: flex;
	justify-content: center;
	gap: 20px; /* Add some space between icons */
}

.socialIcon {
	width: 30px;
}

.ratio {
	border: #db9421 5px solid; /* Matches your whipText border color */
	margin-bottom: 3rem;
}

@media (min-width: 768px) {
	.introP {
		width: 60%; /* Back to 60% on desktops */
	}

	.whipText {
		/* Return to absolute on large screens if desired */
		width: 80%;
		text-align: center;
		border: #db9421 5px solid;
		margin: 1rem;
		font-size: 4rem;
	}

	.email {
		font-size: 20px;
	}
}

@media (min-width: 992px) {
}
